h2 {
    margin: 50px 22px;
}

.grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 22px 1fr 1fr 22px;
    grid-template-columns: 22px 1fr 1fr 22px;
}

.pic {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
}

.slideshow-container {
    position: relative;
}

.slide {
    display: none;
    position: relative;
}

@keyframes slidein {
    0% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.slide_in {
    -webkit-animation-name: slidein;
            animation-name: slidein;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function:ease-out;
            animation-timing-function:ease-out;
}

@media screen and (min-width: 600px) {
    .grid-container {
        -ms-grid-columns: 44px 1fr 10px 1fr 44px;
        grid-template-columns: 44px 1fr 10px 1fr 44px;
    }

    .left {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3;
    }

    .right {
        -ms-grid-column: 4;
        -ms-grid-column-span: 1;
        grid-column: 4 / 5;
    }

    .center {
        -ms-grid-column: 2;
        -ms-grid-column-span: 3;
        grid-column: 2 / 5;
    }
}

@media screen and (min-width: 992px) {
    h2 {
        margin: 100px 15% 30px 15%;
        width: 70%;
    }

    .slideshow-container {
        margin-left: 20%;
        margin-right: 20%;
    }

    .grid-container {
        margin-left: 15%;
        margin-right: 15%;
    }

    .grid-container .pic {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (prefers-reduced-motion: reduce) {
    .slide_in {
        -webkit-animation: none;
        animation: none;
    }
}