.parallax {
    background-image: url("../images/2-1.png");
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 500px;  
    vertical-align: center;
    padding-top: 50px;
}

.parallax .text {
    padding:100px auto;
    margin: 30px 22px;
    background-color: rgba(255, 255, 255, 0.7);
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; 
}

.minecraft_img img {
    max-width: 600px; 
}

.minecraft_img {
    border: solid 5px #ffc6a7;
    border-radius: 5px;
    margin: 30px 22px;
}

button {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    border: solid 1px #ffc6a7;
    border-radius: 5px;
    background-color: #ffc6a7;
}

.suggested {
    list-style-type: circle;
    margin-left: 40px;
    margin-right: 22px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12pt;
}

ol {
    list-style-type: square;
    margin-left: 2em;
}

h3 {
    font-weight: lighter;
    color: #575757;
}

.warning p {
    font-size: 12pt;
    color: #575757;
    margin: 20px 22px;
}

.gallery_intro {
    display: none;
}

@media screen and (min-width: 600px) {
    .parallax .text {
        padding: 22px 22px;
        margin: 40px 20%;
    }

    .minecraft_img {
        width: 300px;
    }

    .suggested {
        margin-left: 62px;
    }
}

@media screen and (min-width: 992px) {
    h2 {
        margin: 100px 15% 30px 15%;
        width: 70%;
    }

    .parallax {
        height: 1000px;
    }

    .parallax .text {
        padding: 200px auto;
        margin: 300px 30%;
    }

    .map {
        width: 500px;
    }

    .flex-container {
        margin-left: 15%;
        margin-right: 15%;
    }

    .suggested {
        margin-left: 15%;
    }

    .warning {
        text-align: center;
    }

    .minecraft_img {
        height: 200px;
        position: relative;
    }

    .day, .night {
        position: absolute;
        top: 20px;
        left: 15px;
    }

    .day {
        z-index: 2;
        transition: 1s;
    }

    .day:hover {
        opacity: 0;
    }

    .gallery_intro {
        display: block;
    }
}