.self_photo {
    width: 60%;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    font-size: 12pt;
    text-align: center;
}

label {
    margin: 30px 22px;
}

input, textarea {
    margin: 10px 22px;
    width: 85%;
}

textarea {
    height: 5em;
}

.submit {
    border: solid 1px #ffc6a7;
    border-radius: 5px;
    background-color: #ffc6a7;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

@media screen and (min-width: 600px) {
    main img {
        width: 400px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 44px 3fr 7fr 44px;
    }

    .self_photo {
        width: 80%;
    }

    .left {
        grid-column: 2 / 3;
    }

    .right {
        grid-column: 3 / 4;
    }

    label, input, textarea {
        margin: 30px 44px;
    }
}