h2 {
    margin: 50px 22px;
}

.grid-container {
    display: grid;
    grid-template-columns: 22px 1fr 1fr 22px;
}

.pic {
    grid-column: 2 / 4;
}

.slideshow-container {
    position: relative;
}

.slide {
    display: none;
    position: relative;
}

@keyframes slidein {
    0% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.slide_in {
    animation-name: slidein;
    animation-duration: 2s;
    animation-timing-function:ease-out;
}

@media screen and (min-width: 600px) {
    .grid-container {
        grid-template-columns: 44px 1fr 10px 1fr 44px;
    }

    .left {
        grid-column: 2 / 3;
    }

    .right {
        grid-column: 4 / 5;
    }

    .center {
        grid-column: 2 / 5;
    }
}